.zoneArticle
{
    position: relative;
    vertical-align: top;
    width: 465px;
    height: 200px;
    margin: 0 10px 10px 0;
    background: #e6e6e6;
}

.contentArticle
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    display: block;
    width: 465px;
    height: 200px;
    overflow: hidden;
}
.linkImg
{
    display: block;
}
.linkImg img
{
    width: 465px;
}

.minHeaderArticle
{
    position: relative;
    height: auto;
    min-height: 50px;
    margin: -38px 0 0;
    padding: 5px 8px 8px 16px;
    background: #101010;
}
.contentArticle:hover .minHeaderArticle
{
    height: 122px;
}
.minHeaderArticle, .minHeaderArticle a, .minDate
{
    color: White;
}
.minDate
{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 1px;
    background: #181818;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.minHeaderArticle .minAuthor
{
    margin:4px 0px 0px 0px;
    font-size: 16px;
    line-height: 18px;
}
.minHeaderArticle .minAuthor, .minHeaderArticle .minAuthor a
{
    font-weight: normal;
    color: #b8b8b8;
}
