body
{
    background-image: url('image/pattern.png');
    overflow: hidden;
}

.square img
{
    text-align: center;
    vertical-align: middle;
}
moveToFav .iconImageSmall
{
    height: 65px;
    width: 65px;
    margin-left: 7px;
    margin-top: 7px;
}

.appSmallIcon
{
    height: 80px;
    width: 80px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: white;
    cursor: pointer;
}

.iconImageBig
{
    height: 95px;
    margin-left: 7px;
    margin-top: 7px;
    width: 95px;
}

.appBigIcon
{
    height: 116px;
    width: 116px;
    border-radius: 9px;
    background: -moz-linear-gradient(top, rgba(205,205,205,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
    margin-left: 22px;
    margin-top: 22px;
    cursor: pointer;
}

.iconBevel
{
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.3);
    height: 108px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 108px;
}

.iconBevel:hover
{
    background-color: rgba(236,236,236,0.3);
    ox-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset, 0 0 3px rgba(0, 0, 0, 0.2);
}

.squareTitle
{
    color: #ECECEC;
    font-family: 'DroidSans';
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}

.defaultIconImage
{
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-top: 40px;
}

.appSearch
{
    left: 117px !important;
}

.square-remove
{
    background: url(image/removeItemIcon.png) no-repeat 0px -18px;
}
.square-remove:hover
{
    background: url(image/removeItemIcon.png) no-repeat 0px 0px;
}
.watermark
{
    color: #bfbfbf;
}
.bg
{
    background-image: url('image/pattern.png');
    overflow: hidden;
}
.box
{
    height: 574px; /*501px;*/
    width: 846px;
    position: relative;
}
.glass
{
    background-image: url("image/glass.png");
    background-repeat: no-repeat;
    float: left;
    height: 29px;
    margin-left: 6px;
    margin-top: 6px;
    width: 30px;
}
.defaultBox
{
    background-image: url('image/bg_placeholder.png');
    background-repeat: repeat;
}
.searchBox
{
    height: 42px;
    width: 422px;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: 'DroidSans';
}
#searhTerm
{
    height: 42px;
    width: 480px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #3f3f3f;
    background-color: white;
    float: left;
}
.searchButton
{
    background-image: url("image/button.png");
    width: 116px;
    height: 44px;
    font-family: DroidSans;
    font-weight: 22x;
    color: black;
    line-height: 42px;
    text-align: center;
    text-shadow: 1px 0 rgba(255, 255, 255, 0.56), inset 1px 0 rgba(0, 0, 0, 0.75);
    float: left;
}

.searchButton:hover
{
    background-image: url("image/button.png");
    background-position: -232px 0px;
    cursor: pointer;
}

.searchButtonSelected
{
    background-image: url("image/button.png");
    background-position: -116px 0px !important;
}

.search
{
    height: 44px;
    left: 244px;
    position: absolute;
    top: 294px;
    width: 604px;
}

.square
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/  Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33ffffff',GradientType=1 ); /* IE6-8 */
}

.square-remove
{
    z-index: 9999;
    position: relative;
}

#mostPopular
{
    float: left;
}
#mostHits
{
    float: left;
}

.mostHitsDiv
{
    width: 848px;
    height: 514px;
    position: absolute;
    float: left;
}
.mostHitsWrapper
{
    height: 514px;
    position: relative;
    width: 848px;
    overflow: hidden;
}

.moveNext
{
    background-image: url("image/arrow.png");
    float: left;
    height: 45px;
    margin-left: 33px;
    margin-top: 60px;
    width: 46px;
}

.moveNext:hover
{
    background-image: url("image/arrow.png");
    background-position: -46px 0px;
    cursor: pointer;
}

.moveBack
{
    background-image: url("image/arrow.png");
    float: left;
    height: 45px;
    margin-left: 33px;
    margin-top: 60px;
    width: 46px;
}

.moveBack:hover
{
    background-image: url("image/arrow.png");
    background-position: -46px 0px;
    cursor: pointer;
}

.slot
{
    width: 831px;
    height: 800px;
    float: left;
    margin: auto;
}
#wrapper
{
    width: 3072px;
    height: 800px;
    position: absolute;
    top: 68px;
}
.header
{
    font-family: DroidSans;
    height: 60px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    width: 831px;
    position: relative;
}
.subHeader
{
    float: right;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 20px;
    line-height: 0px;
}
.subHeader a
{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.subHeader a:hover
{
    text-decoration: none;
    color: white;
}

.subHeader a:visited
{
    text-decoration: underline;
    color: white;
}
.tutorial
{
    cursor: pointer;
    text-decoration: underline;
}
.tutorial:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: #feed6c;
}
.whiteDiv
{
    background-color: white;
}
.hatDiv
{
    display: none;
    height: 20px;
    position: fixed;
    top: 6px;
    right: 178px;
    width: 20px;
    z-index: 1000;
}
.containerDiv
{
    border-radius: 3px;
    display: none;
    height: 271px;
    width: 534px;
    font-family: DroidSans;
    z-index: 1000;
}
.slideToMostPopular
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: slideToMostPopular;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: slideToMostPopular;
    -webkit-animation-timing-function: linear;
}

.moveToFav
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: moveToFav;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: moveToFav;
    -webkit-animation-timing-function: linear;
}

.moveToApps
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: moveToApps;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: moveToApps;
    -webkit-animation-timing-function: linear;
}

.moveBackToMostPopular
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: moveBackToMostPopular;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: moveBackToMostPopular;
    -webkit-animation-timing-function: linear;
}
.moveBackToApps
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: moveBackToApps;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: moveBackToApps;
    -webkit-animation-timing-function: linear;
}





.slideLeftToApps
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: slideToApps;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: slideToApps;
    -webkit-animation-timing-function: linear;
}

.slideFromApps
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: slideFromApps;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: slideFromApps;
    -webkit-animation-timing-function: linear;
}

.slideOut
{
    -moz-animation-direction: normal;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: slideOut;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: slideOut;
    -webkit-animation-timing-function: linear;
}

.slideIn
{
    -moz-animation-direction: normal;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: slideIn;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: slideIn;
    -webkit-animation-timing-function: linear;
}

.flipArrowUp
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: flipArrowUp;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: flipArrowUp;
    -webkit-animation-timing-function: linear;
}

.flipArrowDownLeft
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: flipArrowDownLeft;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: flipArrowDownLeft;
    -webkit-animation-timing-function: linear;
}

.flipArrowDown
{
    -moz-animation-direction: alternate;
    -moz-animation-duration: 1.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: flipArrowDown;
    -moz-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: flipArrowDown;
    -webkit-animation-timing-function: linear;
}
.wrapperClass
{
}
.popupDiv
{
    margin-left: 20px;
    margin-top: 3px;
}
.overlay
{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}
.modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 500;
    top: 0px;
    left: 0px;
}
p
{
    margin-top: -5px;
}
a
{
    font-color: #33CCFF;
}

.spanLink
{
    color: #379DCF;
    cursor: pointer;
    text-decoration: underline;
}
.closeButton
{
    position: absolute;
    top: 3px;
    right: 3px;
    height: 22px;
    width: 22px;
}

.frame
{
    width: 497px;
    height: 276px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.28);
    border-color: 1p solid #788397;
    z-index: 9999;
    position: absolute;
    top: 100px;
    left: 100px;
}

.frameFF
{
    display: none;
    width: 497px;
    height: 143px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.28);
    border-color: 1p solid #788397;
    position: relative;
}

.frameFFBlack
{
    display: none;
    background-color: rgba(0, 0, 0, 0.28);
    padding-top: 10px;
    padding-left: 10px;
    width: 507px;
    height: 153px;
    position: absolute;
    border-radius: 10px;
    top: 12px;
    right: 12px;
    z-index: 9999;
}
.innerMargin
{
    padding-left: 21px;
    padding-top: 23px;
}

.seperator
{
    height: 8px;
    border-top: 1px solid #c6cbd5;
    border-bottom: 1px solid #c6cbd5;
    background-color: #edeef1;
    padding-top: 1px;
    widht: 100%;
}

.seperatorInner
{
    height: 100%;
    width: 100%;
    background-color: #dadde3;
}

.contenText
{
    font-family: arial;
    font-size: 14px;
    color: black;
    font-weight: normal;
}

.settingsHeader
{
    font-size: 18px;
}

.settingLink
{
    text-decoration: under-line;
    color: #1874d1;
    cursor: pointer;
}
.settingLink:hover
{
    text-decoration: none;
    color: #1874d1;
    cursor: pointer;
}

.settingLink:visited
{
    text-decoration: none;
    color: #1874d1;
    cursor: pointer;
}

.settingsList
{
    list-style: none;
    padding-left: 0px;
}
.settingsList li
{
    height: 24px;
}

.closeButton
{
    background-image: url('image/closeIcon.png');
    cursor: pointer;
}

.settingsPanel
{
    height: 108px;
    width: 476px;
    background-image: url('image/settingsPanel.png');
}

.coloredLine
{
    height: 10px;
    width: 497px;
    background-image: url('image/coloredLine.png');
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 0px 2px 2px;
}

.coloredLineBlackList
{
    width: 549px;
}

#blacklistPopup
{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 9999;
    border-radius: 10px;
    height: 273px;
    width: 560px;
    background-color: rgba(0,0,0,0.28);
    padding-top: 10px;
    padding-left: 10px;
    display: none;
}

.frameBlackList
{
    height: 261px;
    width: 549px;
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.28);
    z-index: 9999;
    position: relative;
}

.blackListHeader
{
    font-size: 18px;
}
.browserImage
{
    background-image: url('image/browsertop.png');
    width: 204px;
    height: 50px;
    float: left;
    margin-bottom: 30px;
    margin-top: 15px;
}

.floatingMessage
{
    float: left;
    line-height: 17px;
    margin-left: 10px;
    margin-top: 21px;
    width: 266px;
}
.blackCheckBox
{
    clear: both;
    float: left;
    margin-top: 15px;
    margin-left: 18px;
}

.controlBG
{
    background-color: #f8fafc;
    border-top: 1px solid #d1d3d7;
    height: 90px;
    clear: both;
    border-radius: 0px 0px 2px 2px;
}

.button
{
    height: 32px;
    background-color: #ebf1f4;
    border-radius: 3px;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.28);
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-family: DroidSans;
}

.button:hover
{
    background-color: rgba(254,227,100,0.9);
    box-shadow: 1px 1px 2px rgba(199,144,45,0.28);
}

.buttonOverlay
{
    height: 100%;
    width: 100%;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 11%, rgba(205,206,207,0.2) 50%, rgba(160,162,163,0.2) 52%, rgba(209,210,211,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(11%,rgba(255,255,255,0.2)), color-stop(50%,rgba(205,206,207,0.2)), color-stop(52%,rgba(160,162,163,0.2)), color-stop(100%,rgba(209,210,211,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 11%,rgba(205,206,207,0.2) 50%,rgba(160,162,163,0.2) 52%,rgba(209,210,211,0.2) 100%); /* Chrome10+,Safari5.1+ */
}

.cancel
{
    float: left;
    position: relative;
    left: 79px;
    top: 11px;
    width: 80px;
}

.remove
{
    float: right;
    position: relative;
    right: 27px;
    top: 11px;
    width: 80px;
}
.restore
{
    float: right;
    position: relative;
    right: 27px;
    top: 11px;
    width: 129px;
}

.pointer
{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: white;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.28);
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 1000;
    right: 50px;
    top: -8px;
}

.title, .remove-title
{
    background-color: #fff9cb;
    height: 30px;
    line-height: 30px;
    min-width: 70px;
    border: 1px solid #dfd8a2;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 9000;
    padding-left: 5px;
    padding-right: 5px;
    font-family: DroidSans;
    color: #27394d;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.remove-title
{
    font-size: 12px;
}
.removeSiteButton
{
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.paging
{
    margin-top: 14px;
    height: 19px;
    width: 846px;
}



.pagingButton, .pagingButtonActive
{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.28) 0%, rgba(0,0,0,0.28) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.28)), color-stop(100%,rgba(0,0,0,0.28))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(0,0,0,0.28) 100%); /* Chrome10+,Safari5.1+ */
    background-color: #758698;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68), -1px -1px 1px rgba(0, 0, 0, 0.68);
    float: left;
    height: 19px;
    line-height: 19px;
    text-align: center;
    width: 72px;
    margin-left: 16px;
    font-family: arial;
    color: #d7dee6;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.pagingButton:first-child
{
    margin-left: 0px;
}

.pagingButton:hover
{
    background-color: #8f9eaf;
}

.pagingButtonActive
{
    cursor: default !important;
    background-color: #d8d8d8 !important;
    color: #28364b !important;
}
.pagingSeperator
{
    height: 2px;
    width: 841px;
    background-color: #111b2b;
    margin-top: 14px;
    box-shadow: 1px 1px 1px rgba(239,244,251,0.11);
}

.paging-wrapper
{
    margin-left: auto;
    margin-right: auto;
}
